body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	align-items: center;
	height: 50px;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 350px;
	height: 50px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 1%;
}
.body-left,
.body-right {
	padding: 1%;
}
input {
	border: none;
	border-bottom: rgb(119, 119, 119);
}
.p {
	font-size: small;
}
.postcard-footer {
	text-align: center;
}
.button {
	background-color: black;
	padding: 1%;
}
